<div class="container">
  <div class="cards">
    <% @lectures.each do |lecture| %>
    <div class="card-trip">
      <%= link_to lecture_path(lecture) do %>
        <% if lecture.photo.attached? %>
          <%= cl_image_tag lecture.photo.key, height: 200, crop: :fit, class: "card-image" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1513829596324-4bb2800c5efb", class: "card-image" %>
        <% end %>
      <% end %>
      <div class="card-trip-infos">
        <div class="lecture-info">
          <h2><%= link_to "#{lecture.title} - #{lecture.category}", lecture_path(lecture) %></h2>
          <p><%= lecture.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= lecture.price %>€</h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
