<div class="container">
  <% if @lecture.photo.attached? %>
    <div class="showbanner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @lecture.photo.key, class: "showbanner" %>);">
  <% else %>
    <div class="showbanner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'https://images.unsplash.com/photo-1513829596324-4bb2800c5efb' %>);">
  <% end %>
  </div>

  <div class="show-cards">
    <div class="card-description">
      <h1><%= @lecture.title %> (<%= @lecture.category %>)</h1>
      <p><%= @lecture.description %></p>
      <div class="button-container">
        <% if @lecture.user == current_user %>
          <%= link_to 'Edit', edit_lecture_path(@lecture), class: "btn btn-flat" %>
          <%= link_to 'Delete', lecture_path(@lecture), method: :delete, data: { confirm: 'Do you really want to delete this class?' }, class: "btn btn-flat btn-lg", id: "delete-button" %>
        <% end %>
      </div>
    </div>

    <div class="card-info">
      <h3>Booking details</h3>
      <div class="info-details">
        <div class="duration">
          <p><i class="fas fa-hourglass-half pr-3"></i><span> <%= @lecture.duration %> hour</span></p>
        </div>
        <div class="price">
          <p><i class="fas fa-money-bill-wave pr-3"></i><span> <%= @lecture.price %> €</span></p>
        </div>
      </div>
      <div class="button-container">
        <%= link_to 'Book class', "#", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#bookingModalCenter', class: "btn btn-block btn-flat btn-lg mb-3"} %>
        <%= link_to 'Back to list', lectures_path, class: "btn btn-block btn-flat btn-lg", id: "back-button"%>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="bookingModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Send a booking request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'new_booking' %>
      </div>
    </div>
  </div>
</div>
