<div class="container">
  <div class="about-left">
    <div class="about-content">
      <div class="about-text px-5">
        <h1>Hoi 👋</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
          Eligendi dolorum, pariatur ad vitae nemo blanditiis eveniet aperiam aliquam laborum molestias,
          quae iste quasi saepe ipsa, amet, fugit! Rem, eligendi, deserunt.
        </p>
      </div>
    </div>
    <div class="about-image">
      <%= image_tag "evi-sanoll.jpg", alt: "Evi Sanoll" %>
    </div>
  </div>
  <div class="about-right">
    <div class="about-image">
      <%= image_tag "https://images.unsplash.com/photo-1573871669414-010dbf73ca84", alt: "Trumpet" %>
    </div>
    <div class="about-content">
      <div class="about-text px-5">
        <h2>Trumpet 🎺</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
          Eligendi dolorum, pariatur ad vitae nemo blanditiis eveniet aperiam aliquam laborum molestias,
          quae iste quasi saepe ipsa, amet, fugit! Rem, eligendi, deserunt.
        </p>
      </div>
    </div>
  </div>
  <div class="about-left">
    <div class="about-content">
      <div class="about-text px-5">
        <h2>Electro guitar 🎸</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
          Eligendi dolorum, pariatur ad vitae nemo blanditiis eveniet aperiam aliquam laborum molestias,
          quae iste quasi saepe ipsa, amet, fugit! Rem, eligendi, deserunt.
        </p>
      </div>
    </div>
    <div class="about-image">
      <%= image_tag "https://images.unsplash.com/photo-1616122983650-3820735e41bb", alt: "Electro guitar" %>
    </div>
  </div>
  <div class="about-right">
    <div class="about-image">
      <%= image_tag "https://images.unsplash.com/photo-1551970353-3960cb854a2b", alt: "Piano" %>
    </div>
    <div class="about-content">
      <div class="about-text px-5">
        <h2>Piano 🎹</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
          Eligendi dolorum, pariatur ad vitae nemo blanditiis eveniet aperiam aliquam laborum molestias,
          quae iste quasi saepe ipsa, amet, fugit! Rem, eligendi, deserunt.
        </p>
      </div>
    </div>
  </div>
  <div class="about-left mb-5">
    <div class="about-content">
      <div class="about-text px-5">
        <h2>Conducting 🎼</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit.
          Eligendi dolorum, pariatur ad vitae nemo blanditiis eveniet aperiam aliquam laborum molestias,
          quae iste quasi saepe ipsa, amet, fugit! Rem, eligendi, deserunt.
        </p>
      </div>
    </div>
    <div class="about-image">
      <%= image_tag "https://images.unsplash.com/photo-1519683109079-d5f539e1542f", alt: "Conducting" %>
    </div>
  </div>
</div>
