<div class="container">
  <%= simple_form_for @contact do |f| %>
      <%= f.input :first_name, label: 'First name' %>
      <%= f.input :last_name, label: 'Last name' %>
      <%= f.input :email, label: 'Email address' %>
      <%= f.input :phone, label: 'Phone' %>
      <%= f.input :message, label: 'Your message' %>
      <%= f.button :submit, 'Send message', class: 'btn btn-primary' %>
  <% end %>
</div>
