<div class="container">
  <%= simple_form_for @contact do |f| %>
      <%= f.input :first_name, label: 'First name' %>
      <%= f.input :last_name, label: 'Last name' %>
      <%= f.input :email, label: 'Email address' %>
      <%= f.input :phone, label: 'Phone' %>
      <%= f.input :message, :input_html => {:rows => 10}, label: 'Your message' %>
      <%= f.invisible_captcha :subtitle %>
      <%= f.button :submit, 'Send message', class: "btn btn-flat btn-lg" %>
  <% end %>
</div>
